<section class="govuk-grid-row ">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l content-section__first-heading">Featured from the blog</h2>
  </div>
</section>
  <section class="govuk-grid-row govuk-!-margin-bottom-6 product-page-!-border-bottom">
  <div class="govuk-grid-column-one-third">
                    <img width="100%" src="/public/images/notify-services.png" alt="A graph showing the number of services and organisations using GOV.UK Notify growing each year, from 2016 onwards, with the number of services growing especially quickly in early 2020. Exact numbers are available in a table in the body of the blog post.">

    <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a href="#" class="govuk-link">Notify’s product strategy and upcoming features</a></h3>
    <p class="govuk-body">Outlining our three goals to ensure we continue to offer a great product for the best value for money.</p>
  </div>
  <div class="govuk-grid-column-one-third">
                    <img width="100%" src="/public/images/forms-blog.png" alt="A form called "Amend my claim for holiday pay accrued" has been completed with answers for a full name and claim reference or National Insurance number supplied, which need to be checked before submitting.">

    <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a href="https://gds.blog.gov.uk/2022/10/06/making-it-easy-to-create-and-publish-digital-forms-on-gov-uk/" class="govuk-link">Making it easy to create and publish digital forms on GOV.UK</a></h3>
    <p class="govuk-body">The new version of the Kit makes creating and updating prototypes of government services easier for all users, particularly those getting started with the Kit.</p>
    </div>
      <div class="govuk-grid-column-one-third">
                <img width="100%" src="/public/images/White-background-Large.png" alt="Croydon Council">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a href="#" class="govuk-link">The Single Data Environment: joined-up digital analytics</a></h3>
    <p class="govuk-body">How GDS plans to unlock actionable insights through end-to-end visibility of whole user journeys, ultimately enabling better data-driven decisions.</p>
    </div>
</section>