<div class="hero__content">
  <div class="hero__body">
    <h1 class="hero__title">Build and run online services</h1>
    <div class="hero__inline-image">
      <img src="/public/images/servicebuilder.png" alt="" role="presentation">
    </div>
    <p class="hero__description">If you're in the public sector, you can bring your services online with GOV.UK Digital Service Platforms.</p>
    <p class="hero__description">You don't need to know how to code in order to:</p>
    <ul class="govuk-list govuk-list--bullet hero__description">
      <li>build a form</li>
      <li>take a payment</li>
      <li>send an email, text or letter</li>
    </ul>
    <p class="hero__description">
      Digital Service Platforms are in development: sign up to learn more, or to help us improve by participating in user research.
    </p>
    <a href="https://platforms.service.gov.uk/sign-up.html" role="button" class="govuk-button govuk-button--start button--start_white" data-click-events="" data-click-category="Hero" data-click-action="Internal link clicked">  Sign up
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
              <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
            </svg>
          </a>
  </div>
  <div class="hero__aside-image">
    <img src="/public/images/servicebuilder.png" alt="" role="presentation">
  </div>
</div>