<div class="hero__content">
  <div class="hero__body">
    <h1 class="hero__title">Build and run online services easily</h1>
    <div class="hero__inline-image">
      <img src="/public/images/servicebuilder.png" alt="" role="presentation">
    </div>
    <p class="hero__description">
      GOV.UK Platforms are tools to make it easier to build and run your online service if you work in the public sector.
    </p>
    <p class="hero__description">
      You can create accessible, low cost online services without needing coding skills or technical knowledge.
    </p>
  </div>
  <div class="hero__aside-image">
    <img src="/public/images/servicebuilder.png" alt="" role="presentation">
  </div>
</div>