<section class="govuk-grid-row product-page-!-border-bottom govuk-!-padding-bottom-4 govuk-!-margin-bottom-8">
  <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">Transform your service quickly and efficiently</h2>
      <p class="govuk-body">With GOV.UK Platforms, you can:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>build a form for your service</li>
        <li>collect payment</li>
        <li>send your users email, text messages or letters</li>
      </ul>
      <p>GOV.UK Platforms are provided by the <a href="https://www.gov.uk/government/organisations/government-digital-service" class="govuk-link">Government Digital Service</a>. There is no procurement or need to manage multiple suppliers.</p>
  </div>
</section>