<div class="govuk-grid-row product-page-!-border-bottom govuk-!-margin-bottom-7">
  <div class="govuk-grid-column-two-thirds">
    <section class="content-section">
      <h2 class="govuk-heading-l content-section__first-heading">Create and deliver your service online</h2>
      <p class="govuk-body">GOV.UK Build a service is a new way to create accessible, low cost online services without needing technical knowledge.</p>
      <p class="govuk-body">With GOV.UK Build a service, you can:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>build a form for your services</li>
        <li>collect payment</li>
        <li>send your users email, text messages or letters</li>
      </ul>
      <p>GOV.UK Build a service is provided by the Government Digital Service. There is no procurement or need to manage multiple suppliers.</p>
    </section>
  </div>
</div>