    <section class="content-section content-section--with-top-border">
      <div class="govuk-grid-row product-page-!-border-bottom govuk-!-margin-bottom-7">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-l content-section__first-heading">Platforms and tools in one place</h2>
          <p class="govuk-body govuk-!-margin-bottom-8">Technologies that help you to build and run government services</p>
          <div class="govuk-grid-row govuk-!-margin-bottom-8">
            <div class="govuk-grid-column-one-third">
                <h3 class="govuk-heading-s content-section__first-heading govuk-padding">Notify</h3>
                <p class="govuk-body">Send your users emails, text messages and letters - cheaply and easily.</p>
            </div>
            <div class="govuk-grid-column-one-third">
                <h3 class="govuk-heading-s content-section__first-heading">Pay</h3>
                <p class="govuk-body">Collect and process payments - providing a simple experience for users and easy integration for service teams
              </p>
            </div>
            <div class="govuk-grid-column-one-third">
                <h3 class="govuk-heading-s content-section__first-heading">Forms (beta)
                </h3>
                  <p class="govuk-body">Create accessible online forms without needing technical or design skills (private beta with limited participation)
                </p>
            </div>
          </div>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                <img class="govuk-!-margin-bottom-4" width="60px" src="/public/images/Notify.png" />
                <h3 class="govuk-heading-s content-section__first-heading govuk-padding">Notify</h3>
                <p class="govuk-body">Send your users emails, text messages and letters - cheaply and easily.</p>
            </div>
            <div class="govuk-grid-column-one-third">
                <img class="govuk-!-margin-bottom-4" width="60px" src="/public/images/Pay.png" />
                <h3 class="govuk-heading-s content-section__first-heading">Pay</h3>
                <p class="govuk-body">Collect and process payments - providing a simple experience for users and easy integration for service teams
              </p>
            </div>
            <div class="govuk-grid-column-one-third">
                <img class="govuk-!-margin-bottom-4" width="60px" src="/public/images/Forms.png" />
                <h3 class="govuk-heading-s content-section__first-heading">Forms (beta)
                </h3>
                  <p class="govuk-body">Create accessible online forms without needing technical or design skills (private beta with limited participation)
                </p>
            </div>
          </div>
        </div>
      </div>
    </section>