<section class="govuk-grid-row govuk-!-margin-bottom-4">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l">Platforms for your service - all in one place</h2>
    <p class="govuk-body">GOV.UK Platforms are tools to help you build and run government services.</p>
    <p class="govuk-body">You can use one, some or all of the platforms for your online service.</p>
  </div>
</section>

<section class="govuk-grid-row govuk-!-margin-bottom-6">
  <div class="govuk-grid-column-one-half">
    <img class="govuk-!-margin-bottom-4" width="60px" src="/public/images/Forms.png" />
    <h3 class="govuk-heading-m"><a href="https://www.forms.service.gov.uk/">GOV.UK Forms (beta)</a></h3>
    <p class="govuk-body">Create accessible online forms without needing technical or design skills. GOV.UK Forms is looking for partners to take part in the private beta.</p>
    <p class="govuk-body"><a href="https://service.us12.list-manage.com/subscribe?u=cb74eb9a6898b0e5870fede0a&id=451fe4c1e1">Register your interest to take part</a>.</p>
  </div>
  <div class="govuk-grid-column-one-half">
    <img class="govuk-!-margin-bottom-4" width="60px" src="/public/images/Pay.png" />
    <h3 class="govuk-heading-m"><a href="https://www.payments.service.gov.uk/?_ga=2.9554357.1429735777.1675072599-1436852551.1650554828">GOV.UK Pay</a></h3>
    <p class="govuk-body">Collect and process payments - providing a simple experience for users and easy integration for service teams.</p>
  </div>
</section>

<section class="govuk-grid-row govuk-!-margin-bottom-6">
  <div class="govuk-grid-column-one-half">
    <img class="govuk-!-margin-bottom-4" width="60px" src="/public/images/Notify.png" />
    <h3 class="govuk-heading-m"><a href="https://www.notifications.service.gov.uk/">GOV.UK Notify</a></h3>
    <p class="govuk-body">Send your users emails, text messages and letters - cheaply and easily.</p>
  </div>
</section>
  
<section class="govuk-grid-row product-page-!-border-bottom govuk-!-padding-bottom-4 govuk-!-margin-bottom-8">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m">Help us with GOV.UK Platforms</h2>
    <p class="govuk-body"><a href="#" class="govuk-link">Sign up to be a user research participant</a> to help improve GOV.UK Platforms.</p>
  </div>
</section>