<section class="govuk-grid-row govuk-!-margin-bottom-4">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Use GOV.UK Platforms to create your service</h2>
    <p class="govuk-body">Your users can complete a form, send you information, pay for things and receive notifications with GOV.UK Platforms. They're free to use, easy to set up and have accessibility built in from the start.</p>
    <p>You can use one, some, or all of the digital tools to support your service.</p>
  </div>
</section>

<section class="govuk-grid-row govuk-!-margin-bottom-8">
  <div class="govuk-grid-column-one-half">
    <img style="display: block" class="govuk-!-margin-bottom-4" width="390" src="/public/images/Forms.svg"/>
    <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-2">
      in development
    </strong>
    <h3 class="govuk-heading-m"><a href="https://www.forms.service.gov.uk/">Build a form</a></h3>
    <p class="govuk-body">Create accessible online forms without needing technical knowledge.</p>
    <p class="govuk-body">GOV.UK Forms is in development with selected government partners. You can register to get a notification when it's available for all of central government.</p>
    <p class="govuk-body"><a href="https://service.us12.list-manage.com/subscribe?u=cb74eb9a6898b0e5870fede0a&id=451fe4c1e1">Register your interest</a></p>
  </div>
  <div class="govuk-grid-column-one-half">
    <img class="govuk-!-margin-bottom-4" width="390" src="/public/images/Pay.svg"/>
    <h3 class="govuk-heading-m"><a href="https://www.payments.service.gov.uk/?_ga=2.9554357.1429735777.1675072599-1436852551.1650554828">Collect payments</a></h3>
    <p class="govuk-body">Collect and process payments - providing a simple experience for users and easy integration for service teams.</p>
    <ul class="govuk-list">
      <li>
        <a href="https://www.payments.service.gov.uk/performance/">Take payments with GOV.UK Pay</a>
      </li>
    </ul>
  </div>
</section>

<section class="govuk-grid-row govuk-!-margin-bottom-8 govuk-!-padding-bottom-8 product-page-!-border-bottom">
  <div class="govuk-grid-column-one-half">
    <img class="govuk-!-margin-bottom-4" width="390" src="/public/images/Notify.svg"/>
    <h3 class="govuk-heading-m"><a href="https://www.notifications.service.gov.uk/">Send your users email, text messages or letters</a></h3>
    <p class="govuk-body">Send your users emails, text messages and letters - cheaply and easily.</p>
    <ul class="govuk-list">
      <li>
        <a href="https://www.notifications.service.gov.uk/features/performance">Who’s using GOV.UK Notify</a>
      </li>
    </ul>
  </div>
    <div class="govuk-grid-column-one-half">
    <img class="govuk-!-margin-bottom-4" width="390" src="/public/images/Publish.svg"/>
    <h3 class="govuk-heading-m"><a href="https://www.notifications.service.gov.uk/">Publish on GOV.UK</a></h3>
    <p class="govuk-body">Guidance for government editors and publishers about how to create and edit documents and organisation pages.</p>
    <ul class="govuk-list">
      <li>
        <a href="https://www.notifications.service.gov.uk/features/performance">Find out more about GOV.UK Publisher</a>
      </li>
    </ul>
  </div>
</section>


