<section class="content-section content-section--with-top-border">
  <h2 class="govuk-heading-l content-section__first-heading govuk-!-margin-top-6">Security and relevant standards built in</h2>
  <div class="govuk-grid-row product-page-!-border-bottom govuk-!-margin-bottom-7">
    <div class="govuk-grid-column-full">
      <p class="govuk-body">GOV.⁠UK Build a service meets the latest government cyber security standards.</p>
      <p class="govuk-body">All GOV.UK tools and platforms protect user data and helps you to comply with data protection regulations.</p>
    </div>
  </div>
</section>