<section class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l content-section__first-heading">Service standards and guidance</h2>
    <p class="govuk-body govuk-!-margin-bottom-8">Government standards if you design, build and run services in your organisation.</p>
  </div>
</section>
  <section class="govuk-grid-row govuk-!-margin-bottom-6">
  <div class="govuk-grid-column-one-half">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a href="https://www.gov.uk/guidance/government-design-principles">Design principles</a></h3>
    <p class="govuk-body">Principles to help guide teams creating government services</p>
  </div>
  <div class="govuk-grid-column-one-half">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a href="https://www.gov.uk/service-manual/service-standard">Service Standard</a></h3>
    <p class="govuk-body">The standard that government services need to meet</p>
</section>
<section class="govuk-grid-row govuk-!-margin-bottom-6">
  <div class="govuk-grid-column-one-half">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a href="https://www.gov.uk/service-manual">Service Manual</a></h3>
    <p class="govuk-body">Guidance on accessibility and assisted digital, agile delivery, design, measuring success, user research and more</p>
  </div>
  <div class="govuk-grid-column-one-half">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a href="https://design-system.service.gov.uk/">GOV.UK Design System</a></h3>
    <p class="govuk-body">Styles, patterns and components for building GOV.UK services</p>
  </div>
</section>
<section class="govuk-grid-row govuk-!-margin-bottom-6">
  <div class="govuk-grid-column-one-half">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a href="https://prototype-kit.service.gov.uk/docs/">GOV.UK Prototype Kit</a></h3>
    <p class="govuk-body">Create rapid prototypes of GOV.UK services</p>
  </div>
  <div class="govuk-grid-column-one-half">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a href="https://www.gov.uk/guidance/how-to-publish-on-gov-uk">How to publish on GOV.UK</a></h3>
    <p class="govuk-body">Understand how Whitehall publisher works and how to access it</p>
  </div>
</section>