  <div class="govuk-grid-row govuk-!-margin-bottom-8">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l content-section__first-heading">For digital teams</h2>
        <p class="govuk-body">Teams with development capability can take Digital Service Platforms further.</p>
    </div>
  </div>
<section class="govuk-grid-row govuk-!-margin-bottom-8 govuk-!-padding-bottom-8 product-page-!-border-bottom">
  <div class="govuk-grid-column-one-half">
    <img style="display: block" class="govuk-!-margin-bottom-4" width="390" src="/public/images/Publish.svg"/>
    <p class="govuk-body">GDS tools are built to be interoperable and communicate with existing systems. There is support and documentation available to help you set up and run your service.</p>
    <ul class="govuk-list">
  <li>
    <a class="govuk-link" href="#">GOV.UK Notify API</a>
  </li>
  <li>
    <a class="govuk-link" href="#">GOV.UK Pay API</a>
  </li>
</ul>
  </div>
  <div class="govuk-grid-column-one-half">
    <img class="govuk-!-margin-bottom-4" width="390" src="/public/images/Pay.svg"/>
    <p class="govuk-body">Create effective, modern services using our tested design patterns and guidance on how to run a development project.</p>
    <ul class="govuk-list">
  <li>
    <a class="govuk-link" href="#">GOV.UK Design System</a>
  </li>
  <li>
    <a class="govuk-link" href="#">GOV.UK Service Standard</a>
  </li>
</ul>
  </div>
</section>