 <div class="govuk-grid-row govuk-!-margin-bottom-8" style="display: flex;align-items: center">
      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-m">Public services fit for the modern age</h3>
        <p class="govuk-body">In the digital age, citizens expect public services to "just work". Using GOV.UK Digital Service Platforms helps your organisation build services that are easy to use, efficient and save the public money.</p>
      </div>
      <div class="govuk-grid-column-one-half">
                <img width="100%" src="/public/images/public-services.jpg" alt="Person viewing GOV.UK Sign In product website page on a laptop">

      </div>
    </div>
 <div class="govuk-grid-row govuk-!-margin-bottom-8" style="display: flex;align-items: center">
          <div class="govuk-grid-column-one-half">
        <img width="100%" src="/public/images/design-and-build.png" alt="A person looking at a laptop screen which shows a GDS presentation slide. The text says 'Make it easy for everyone to access government services'.">

      </div>
      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-m">Making it easier to design and build public services</h3>
        <p class="govuk-body">Many of GDS's tools need little or no technical expertise to implement successfully in your organisation. We want all of the public sector to be able to create effective, modern services.</p>
            <ul class="govuk-list">
      <li>
        <a href="https://www.payments.service.gov.uk/performance/">GOV.UK Design System</a>
      </li>
            <li>
        <a href="https://www.payments.service.gov.uk/performance/">GOV.UK Prototype Kit</a>
      </li>
    </ul>
      </div>

    </div>
 <div class="govuk-grid-row govuk-!-margin-bottom-6 govuk-!-padding-bottom-8" style="display: flex;align-items: center">
      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-m">Advanced implementation for development teams</h3>
        <p class="govuk-body">GDS tools are built to be interoperable and can communicate with existing systems. There is plenty of support and high quality documentation from our technical teams.</p>
                    <ul class="govuk-list">
      <li>
        <a href="https://www.notifications.service.gov.uk/using-notify/api-documentation">GOV.UK Notify API</a>
      </li>
            <li>
        <a href="https://docs.payments.service.gov.uk/">GOV.UK Pay API</a>
      </li>
    </ul>
      </div>
      <div class="govuk-grid-column-one-half">
        <img width="100%" src="/public/images/advanced-implementation.png" alt="A screen grab of the prototype kit in use, showing a live prototype and a coding window to the right.">

      </div>
    </div>