<section class="content-section content-section--with-top-border product-page-!-border-bottom">
    <h2 class="govuk-heading-l content-section__first-heading">Used and trusted across government    </h2>  
    <div class="govuk-grid-row govuk-!-margin-bottom-7">
        <div class="partner-grid" style="display: flex;align-items: center;justify-content: center;">
            <div class="govuk-grid-column-one-quarter">            
                <img style="max-height: 125px" class="content-section__image partner-logo" src="https://www.payments.service.gov.uk/pay-product-page/images/logos/home-office-355bbe6a.png" alt="Home Office">
            </div>
            <div class="govuk-grid-column-one-quarter">            
                <img style="max-height: 125px" class="content-section__image partner-logo" src="https://www.payments.service.gov.uk/pay-product-page/images/logos/moj-d68de895.png" alt="Ministry of Justice">
            </div>
            <div class="govuk-grid-column-one-quarter">            
                <img style="max-height: 100px" class="content-section__image partner-logo" src="https://www.payments.service.gov.uk/pay-product-page/images/logos/dit-95af66d7.png" alt="Department for International Trade">
            </div>
            <div class="govuk-grid-column-one-quarter">            
                <img style="max-height: 68px" class="content-section__image partner-logo partner-logo--fcdo" src="https://www.payments.service.gov.uk/pay-product-page/images/logos/fcdo-886c0ae8.png" alt="Foreign, Commonwealth &amp; Development Office">
            </div>
        </div>
    </div>
    <div class="govuk-grid-row  govuk-!-margin-bottom-7">
        <div class="govuk-grid-column-one-quarter">
            <img style="max-width: 125px" class="content-section__image partner-logo" src="https://www.payments.service.gov.uk/pay-product-page/images/logos/mod-e4157bc8.png" alt="Ministry of Defence">
        </div>
        <div class="govuk-grid-column-one-quarter">
            <img style="max-width: 125px" class="content-section__image partner-logo" src="https://www.payments.service.gov.uk/pay-product-page/images/logos/nhs-9b1eafb3.png" alt="NHS">
        </div>
    </div>
    <p class="govuk-body"><a href="#" class="govuk-link">See the services using GOV.UK products</a></p>
    <p class="govuk-body"><a href="#" class="govuk-link">Case studies of multiple usage (future feature)</a></p>
</section>