<section class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l content-section__first-heading">Over 3000 organisations are using GOV.UK Platforms</h2>
        <p class="govuk-body">Widely used across government, local authorities and police forces.</p>
    </div>
</section>
<section class="govuk-grid-row govuk-!-margin-bottom-7 partner-grid"> 
    <div class="govuk-grid-column-one-quarter">            
        <img style="max-height: 125px" src="https://www.payments.service.gov.uk/images/logos/home-office-355bbe6a.png" alt="Home Office">
    </div>
    <div class="govuk-grid-column-one-quarter">            
        <img style="max-height: 125px" src="https://www.payments.service.gov.uk/images/logos/moj-d68de895.png" alt="Ministry of Justice">
    </div>
    <div class="govuk-grid-column-one-quarter">            
        <img style="max-height: 68px" src="https://www.payments.service.gov.uk/images/logos/fcdo-886c0ae8.png" alt="Foreign, Commonwealth &amp; Development Office">
    </div>
    <div class="govuk-grid-column-one-quarter">
        <img style="max-width: 125px" src="https://www.payments.service.gov.uk/images/logos/nhs-9b1eafb3.png" alt="NHS">
    </div>
</section>
<section class="govuk-grid-row govuk-!-margin-bottom-7 partner-grid"> 
    <div class="govuk-grid-column-one-quarter">            
        <img style="max-height: 52px" src="/public/images/canterbury-cc-logo.png" alt="Canterbury">
    </div>
    <div class="govuk-grid-column-one-quarter">            
        <img style="max-height: 60px" src="/public/images/city_of_lincoln.png" alt="City of Lincoln">
    </div>
    <div class="govuk-grid-column-one-quarter">            
        <img style="max-height: 70px" src="/public/images/Croydon-Council-logo.jpg" alt="Croydon Council">
    </div>
    <div class="govuk-grid-column-one-quarter">
        <img style="max-width: 180px" src="/public/images/liverpool-cc-logo.jpg" alt="City of Liverpool">
    </div>
</section>
<section class="govuk-grid-row govuk-!-margin-bottom-7 partner-grid"> 

</section>
<section class="govuk-grid-row product-page-!-border-bottom govuk-!-padding-bottom-4 govuk-!-margin-bottom-8">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m">Help us with GOV.UK Platforms</h2>
    <p class="govuk-body"><a href="#" class="govuk-link">Sign up to be a user research participant</a> to help improve GOV.UK Platforms.</p>
  </div>
</section>