<section class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l content-section__first-heading">Used and trusted across government</h2>
        <p class="govuk-body">GOV.UK Platforms are widely used across the UK government.</p>
    </div>
</section>
<section class="govuk-grid-row govuk-!-margin-bottom-7 partner-grid"> 
    <div class="govuk-grid-column-one-quarter">            
        <img style="max-height: 125px" src="https://www.payments.service.gov.uk/images/logos/home-office-355bbe6a.png" alt="Home Office">
    </div>
    <div class="govuk-grid-column-one-quarter">            
        <img style="max-height: 125px" src="https://www.payments.service.gov.uk/images/logos/moj-d68de895.png" alt="Ministry of Justice">
    </div>
    <div class="govuk-grid-column-one-quarter">            
        <img style="max-height: 100px" src="https://www.payments.service.gov.uk/images/logos/dit-95af66d7.png" alt="Department for International Trade">
    </div>
    <div class="govuk-grid-column-one-quarter">            
        <img style="max-height: 68px" src="https://www.payments.service.gov.uk/images/logos/fcdo-886c0ae8.png" alt="Foreign, Commonwealth &amp; Development Office">
    </div>
</section>
<section class="govuk-grid-row govuk-!-margin-bottom-7 partner-grid"> 
    <div class="govuk-grid-column-one-quarter">
        <img style="max-width: 125px" src="https://www.payments.service.gov.uk/images/logos/mod-e4157bc8.png" alt="Ministry of Defence">
    </div>
    <div class="govuk-grid-column-one-quarter">
        <img style="max-width: 125px" src="https://www.payments.service.gov.uk/images/logos/nhs-9b1eafb3.png" alt="NHS">
    </div>
</section>
<section class="govuk-grid-row product-page-!-border-bottom govuk-!-padding-bottom-4 govuk-!-margin-bottom-8">
    <div class="govuk-grid-column-full">
        <p class="govuk-body"><a href="#" class="govuk-link">See the services using GOV.UK Platforms</a></p>
    </div>
</section>