 <div class="govuk-grid-row govuk-!-margin-bottom-8 govuk-!-padding-bottom-8 product-page-!-border-bottom" style="display: flex;align-items: center">
      <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">We're continually improving what we offer but we need your help</h2>
    <p class="govuk-body"><a href="#" class="govuk-link">Sign up to be a user research participant</a> to help improve GOV.UK Platforms.</p>
      </div>
      <div class="govuk-grid-column-one-third">
                <img width="100%" src="/public/images/agile-1.png" alt="Person viewing GOV.UK Sign In product website page on a laptop">

      </div>
    </div>