 <div class="govuk-grid-row govuk-!-margin-bottom-8 govuk-!-padding-bottom-8 product-page-!-border-bottom" style="display: flex;align-items: center">
      <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Get started with our products</h2>
    <p class="govuk-body"><a href="#" class="govuk-link">Start using our products today</a> and help improve GOV.UK Digital Service Platforms.</p>
      </div>
      <div class="govuk-grid-column-one-third">
                <img width="100%" src="/public/images/agile-1.png" alt="Person viewing GOV.UK Sign In product website page on a laptop">

      </div>
    </div>