<section class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l content-section__first-heading">Why use GOV.UK Digital Service Platforms</h2>
        <p class="govuk-body">All GOV.UK Digital Service Platforms are provided by the <a href="https://www.gov.uk/government/organisations/government-digital-service">Government Digital Service (GDS)</a>.</p>

  </div>
</section>
  <section class="govuk-grid-row govuk-!-margin-bottom-6">
  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-2">No procurement</h3>
    <p class="govuk-body">As a Government owned product, there is no need for lengthy times procuring us as a supplier</p>
  </div>
  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-2">No code</h3>
    <p class="govuk-body">All our platforms offer solutions that can be implemented with no technical knowledge</p>
    </div>
      <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Low cost</h3>
    <p class="govuk-body">Our platforms are competitively priced against other software on the market</p>
    </div>
</section>
  <section class="govuk-grid-row govuk-!-margin-bottom-8 govuk-!-padding-bottom-8 product-page-!-border-bottom">
  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Accessible</h3>
    <p class="govuk-body">All our platforms are fully accessible for both civil servants and end users</p>
  </div>
  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Trusted experience</h3>
    <p class="govuk-body">Put your users at ease with government branded comms and familiar GOV.UK styles</p>
    </div>
      <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Test before you launch</h3>
    <p class="govuk-body">Quickly test your ideas for your service before you build it, saving time and money and reducing risk</p>
    </div>
</section>