      <nav>
        <ul class="govuk-list govuk-list--spaced">
          <li>
            <a class="govuk-link" href="word?word={{name}}">Overview</a>
          </li>
          <li>
            <a class="govuk-link" href="log?word={{name}}">Activity log</a>
          </li>
          <li>
            <a class="govuk-link" href="payment?word={{name}}">Payment</a>
          </li>
          <li>
            <a class="govuk-link" href="/holding-page">Contact customer</a>
          </li>
        </ul>
      </nav>