<ul class="govuk-list govuk-list--spaced">
    <li>
        <a class="govuk-link" href="/application/report.html">Overall</a>
    </li>
    <li>
        <a class="govuk-link" href="/application/insights/feedback.html">Feedback</a>
    </li>
    <li>
        <a class="govuk-link" href="/holding-page">Notifications</a>
    </li>
    <li>
        <a class="govuk-link" href="/holding-page">Payments</a>
    </li>
    <li>
        <a class="govuk-link" href="/holding-page">Case Management</a>
    </li>
    <li>
        <a class="govuk-link" href="/holding-page">Forms</a>
    </li>
</ul>