      <ul class="govuk-list">
        <li>
          <a href="notify.html" class="govuk-link">Dashboard</a>  
        </li>
        <li>
          <a href="notify-templates.html" class="govuk-link">Templates</a>  
        </li>
        <li>
          <a href="uploads.html" class="govuk-link">Uploads</a>  
        </li>
        <li>
          <a href="#" class="govuk-link">Team members</a>  
        </li>
        <li>
          <a href="settings.html" class="govuk-link">Settings</a>  
        </li>
        <li>
          <a href="#" class="govuk-link">API integration</a>  
        </li>
      </ul>