<nav class="second-nav">
    <ul class="govuk-!-padding-bottom-4 govuk-!-padding-top-4">
        <li>
            <a href="/application/all" class="govuk-link">Cases</a>
        </li>
        <li>
            <a href="/application/forms/form-designer/form-home" class="govuk-link">Form</a>
        </li>
        <li>
            <a href="/application/payments" class="govuk-link">Transactions</a>
        </li>
        <li>
          <a href="/application/notifications/notify" class="govuk-link">Notifications</a>
        </li>
        <li>
            <a href="/application/published-content" class="govuk-link">Pages</a>
        </li>
        <li>
            <a href="/application/report" class="govuk-link">Insights</a>
        </li>
        <li>
          <a href="/application/settings" class="govuk-link">Settings</a>
        </li>
  </ul>
</nav>