{% extends "layout.html" %}
{% block pageTitle %}
  Billing for Fishing Permit Application Form

  - {{serviceName}}
{% endblock %}
{% block beforeContent %}
  {% set serviceArea = "Settings" %}
  {% include "includes/service-breadcrumb.html" %}
  {% include "includes/second-nav.html" %}
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">Fishing Permit Application Form</span>
    <h1 class="govuk-heading-xl">Settings</h1>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    {% include "includes/settings-sidebar.html" %}
  </div>
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Billing</h2>
    <p class="govuk-body">The current tier this group is on is <a href="/marketing/pricing">Standard</a>, with an estimated cost of £4,500 per quarter. You can change the tier at any time.</p>
    <p class="govuk-body-s"><a href="#" class="govuk-link govuk-link--no-visited-state">Change tier</a></p>
    <h3 class="govuk-heading-m">Usage for this quarter</h3>
    <p class="govuk-body">For the current year the service has used:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Sent 282 out of 1,500 letters</li>
      <li>Sent 820 out of 30,000 texts</li>
      <li>Processed 300 transactions</li>
    </ul>
    {{ govukTable({
      caption: "Past payments",
      captionClasses: "govuk-table__caption--m",
      firstCellIsHeader: true,
      head: [
        {
          text: "Date"
        },
        {
          text: "Amount"
        }
      ],
      rows: [
        [
          {
            text: "1 January – 31 March 2023"
          },
          {
            text: "£4,500"
          }
        ],
        [
          {
            text: "1 October – 31 December 2022"
          },
          {
          text: "£4,500"
        }
      ],
      [
        {
          text: "1 July – 30 September 2022"
        },
        {
          text: "£4,500"
        }
      ]
    ]
  }) }}
  {{ govukButton({
    text: "Manage payment details"
  }) }}
  </div>
</div>
{% endblock %}
