@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";

@import "patterns/borders";
@import "patterns/breadcrumbs";
@import "patterns/header";
@import "patterns/hero";
@import "patterns/hero-alternative-action";
@import "patterns/image";
@import "patterns/inverted-button";
@import "patterns/masthead";
@import "patterns/navigation";
@import "patterns/related-items";
@import "patterns/responsive-embed";
@import "patterns/sub-navigation";
#main-content {
    display: block;
    margin-bottom: govuk-spacing(9);
  }

.hero__description, .hero__paragraph{
    color: white;
}

.gem-c-layout-super-navigation-header{
    margin-bottom: 10px;
}

.govuk-list-small{
    font-size: 16px;
}

.govuk-related-content{
    border-top: 2px solid #1d70b8;
}
// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
.nav{
  background: rgba(245,245,247,1);
  padding: 40px 0;
}

.nav ul{
  list-style: none;
  display: flex;
  max-width: 960px;
  margin: 0 auto;
  justify-content: space-around;
  font-weight: bold;
  align-items: center;
}

.nav ul li{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav ul li img{
  margin-bottom: 18px;
}
.govuk-notification {
  border: 5px solid #1d70b8;
}

.video{

  width: 100%;
  display: block;
}

figure{
  padding: 0;
  margin: 0;
}

figcaption{
  margin-top: 4px;
      font-family: "GDS Transport", arial, sans-serif;
      color: #505a5f
}
.govuk-notification p {
  margin-bottom: 0;
}

@media (min-width: 40.0625em) {
  .govuk-notification {
    padding: 20px;
  }
}

@media (min-width: 40.0625em) {
  .govuk-notification {
    margin-bottom: 50px;
  }
}

.filters-wrapper .govuk-radios {
  padding: .5em 0;
}



.filters-heading {
  background: #f3f2f1;
  padding: 8px 8px;
}

.filter .govuk-body {
  margin-bottom: 0;
}


.filters-wrapper .govuk-form-group {
  margin-bottom: 0;
}

.filter .govuk-form-group,
.filter .govuk-radios {
  padding: 0;
  margin: 0;
}

.result-count {
  font-size: 16px;
}

.ch-pagination-container .govuk-form-group {
  margin-bottom: 0;
}

.ch-pagination__list{
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.filter-heading{
  background: #f3f2f1;

}

.ch-pagination__list li{
  padding: 0 8px
}

.wrapper{
  display: flex;
}

.search{
  margin-left: 10px;
}

.one-line{
  display: flex;
  align-items: flex-end
}

.one-line p{
  margin-left: 5px;
  color: #505a5f
}



.border-top{
  border-top: 10px solid #1d70b8
}

.govuk-header__navigation-list{
  float: right;
}

.second-nav ul{
  list-style: none;
  display: flex;
  font-family: sans-serif;
  padding-left: 0;
    border-bottom: 1px solid #b1b4b6;
    border-top: 1px solid #b1b4b6
}

.second-nav ul li{
  padding-right: 18px;
}


.app-hero{
  background: #1d70b8;
  width: 100%;

}

.app-hero > *{
    color: white;
}

.app-hero .govuk-heading-xl, .app-hero .govuk-body-l{
  color: white;
}

.govuk-header-overide{
  border-bottom: none;
  margin-bottom: 0;
}

.govuk-header-container-overide{
  border-bottom: 0;
  position: relative;
}

.transactions-filter {
  form {
    margin: 0 15px;
    padding: 15px 0;
    background: #f3f2f1;
  }

  .govuk-hint {
    color: #0b0c0c	;
  }
}

.datetime-filter {
  float: left;
  width: 100%;
  box-sizing: border-box;

  .govuk-form-group {
    float: left;

    width: 50%;
    box-sizing: border-box;

    &:first-of-type {
      padding-right: 5px;
    }

    &:last-of-type {
      padding-left: 5px;
    }
  }
}

.datetime-filter-from {
  padding-right: 15px;
}

.datetime-filter-to {
  position: relative;
  padding-left: 15px;
}

.datetime-separator {
  font-size: 16px;
  margin-bottom: 10px;

}

.inputs-less-margin .govuk-form-group {
  margin-bottom: 15px;
}

.inputs-less-margin .govuk-button {
  margin-bottom: 5px;
}

.clear-filter {
  position: relative;
  top: 12px;
}

// bootstrap datepicker overides
.datepicker .datepicker-days table {
    font-size: 14px;
  }
  
  .ui-timepicker-list {
    font-size: 14px;
  }
  
  .datepicker .datepicker-days table tr td.day.focused,
  .datepicker .datepicker-days table tr td.day:hover {
      background: 	#ffdd00;
  }
  
  .datepicker .datepicker-days table tr td.active:active,
  .datepicker .datepicker-days table tr td.active.highlighted:active,
  .datepicker .datepicker-days table tr td.active.active,
  .datepicker .datepicker-days table tr td.active.highlighted.active {
    background: 	#1d70b8;
  }

nav ul li ul{
  background: #f3f2f1;
      border-bottom: 1px #b1b4b6 solid;
      list-style: none;
      padding: 0;
        top: 50px
}
nav ul li ul li {
  min-width: 190px;
  margin: 4px 0;
  padding: 6px 0;

}

nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.partner-grid{
    display: flex;
    align-items: self-end;
    justify-content: center;
    flex-wrap: wrap;
}

.govuk-sort-by-filter{
  border-right: 1.7px solid black;
  padding: 0 8px;
}

.govuk-sort-by-filter:last-child{
  border-right: none;
  padding-right: 0;
}

.govuk-blue-line{
  border-top: 4px solid #1d70b8;
  padding-top: 8px;
}

// Task list pattern

.app-task-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  @include govuk-media-query($from: tablet) {
    min-width: 550px;
  }
}

.app-task-list__section {
  display: table;
  @include govuk-font($size:24, $weight: bold);
}

.app-task-list__section-number {
  display: table-cell;

  @include govuk-media-query($from: tablet) {
    min-width: govuk-spacing(6);
    padding-right: 0;
  }
}

.app-task-list__items {
  @include govuk-font($size: 19);
  @include govuk-responsive-margin(9, "bottom");
  list-style: none;
  padding-left: 0;
  @include govuk-media-query($from: tablet) {
    padding-left: govuk-spacing(6);
  }
}

.app-task-list__item {
  border-bottom: 1px solid $govuk-border-colour;
  margin-bottom: 0 !important;
  padding-top: govuk-spacing(2);
  padding-bottom: govuk-spacing(2);
  @include govuk-clearfix;
}

.app-task-list__item:first-child {
  border-top: 1px solid $govuk-border-colour;
}

.app-task-list__task-name {
  display: block;
  @include govuk-media-query($from: 450px) {
    float: left;
  }
}

// The `app-task-list__task-completed` class was previously used on the task
// list for the completed tag (changed in 86c90ec) – it's still included here to
// avoid breaking task lists in existing prototypes.
.app-task-list__tag,
.app-task-list__task-completed {
  margin-top: govuk-spacing(2);
  margin-bottom: govuk-spacing(1);

  @include govuk-media-query($from: 450px) {
    float: right;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.message-text{
  background-color: #e2e1e0;
  padding: 20px;
}

.message-yellow{
  background-color: yellow;
}

.big-number,.big-number-dark,.big-number-smaller,.big-number-smallest,.big-number-with-status {
  display: block
}

.big-number-label,.big-number-number {
  display: block
}

.big-number-number {
  font-family: "GDS Transport",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: "tnum" 1;
  font-feature-settings: "tnum" 1;
  font-weight: 700;
  font-size: 32px;
  font-size: 2rem;
  line-height: 1.09375
}

@media print {
  .big-number-number {
      font-family: sans-serif
  }
}

@supports (font-variant-numeric: tabular-nums) {
  .big-number-number {
      -webkit-font-feature-settings:normal;
      font-feature-settings: normal;
      font-variant-numeric: tabular-nums
  }
}

@media (min-width: 40.0625em) {
  .big-number-number {
      font-size:48px;
      font-size: 3rem;
      line-height: 1.0416666667
  }
}

@media print {
  .big-number-number {
      font-size: 32pt;
      line-height: 1.15
  }
}

.big-number-label {
  font-family: "GDS Transport",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  padding-bottom: 10px
}

@media print {
  .big-number-label {
      font-family: sans-serif
  }
}

@media (min-width: 40.0625em) {
  .big-number-label {
      font-size:19px;
      font-size: 1.1875rem;
      line-height: 1.3157894737
  }
}

@media print {
  .big-number-label {
      font-size: 14pt;
      line-height: 1.15
  }
}

.pill .big-number-number {
  padding-left: 5px
}

@media (min-width: 26.25em) {
  .pill .big-number-number {
      padding-left:10px
  }
}

.big-number-dark {
  padding: 15px;
  position: relative;
  background: #0b0c0c;
  color: #fff
}

.big-number-dark .big-number-number {
  font-family: "GDS Transport",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: "tnum" 1;
  font-feature-settings: "tnum" 1;
  font-weight: 700;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.0416666667
}

@media print {
  .big-number-dark .big-number-number {
      font-family: sans-serif
  }
}

@supports (font-variant-numeric: tabular-nums) {
  .big-number-dark .big-number-number {
      -webkit-font-feature-settings:normal;
      font-feature-settings: normal;
      font-variant-numeric: tabular-nums
  }
}

@media (min-width: 40.0625em) {
  .big-number-dark .big-number-number {
      font-size:36px;
      font-size: 2.25rem;
      line-height: 1.1111111111
  }
}

@media print {
  .big-number-dark .big-number-number {
      font-size: 24pt;
      line-height: 1.05
  }
}

.big-number-smaller .big-number-number {
  font-family: "GDS Transport",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: "tnum" 1;
  font-feature-settings: "tnum" 1;
  font-weight: 700;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.0416666667
}

@media print {
  .big-number-smaller .big-number-number {
      font-family: sans-serif
  }
}

@supports (font-variant-numeric: tabular-nums) {
  .big-number-smaller .big-number-number {
      -webkit-font-feature-settings:normal;
      font-feature-settings: normal;
      font-variant-numeric: tabular-nums
  }
}

@media (min-width: 40.0625em) {
  .big-number-smaller .big-number-number {
      font-size:36px;
      font-size: 2.25rem;
      line-height: 1.1111111111
  }
}

@media print {
  .big-number-smaller .big-number-number {
      font-size: 24pt;
      line-height: 1.05
  }
}

.big-number-smallest .big-number-number {
  font-family: "GDS Transport",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: "tnum" 1;
  font-feature-settings: "tnum" 1;
  font-weight: 700;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.1111111111
}

@media print {
  .big-number-smallest .big-number-number {
      font-family: sans-serif
  }
}

@supports (font-variant-numeric: tabular-nums) {
  .big-number-smallest .big-number-number {
      -webkit-font-feature-settings:normal;
      font-feature-settings: normal;
      font-variant-numeric: tabular-nums
  }
}

@media (min-width: 40.0625em) {
  .big-number-smallest .big-number-number {
      font-size:24px;
      font-size: 1.5rem;
      line-height: 1.25
  }
}

@media print {
  .big-number-smallest .big-number-number {
      font-size: 18pt;
      line-height: 1.15
  }
}

.big-number-with-status {
  position: relative;
  margin-bottom: 20px
}

.big-number-with-status .big-number,.big-number-with-status .big-number-smaller {
  padding: 15px;
  position: relative;
  background: #0b0c0c;
  color: #fff
}

.big-number-with-status .big-number-label {
  padding-bottom: 0
}

.big-number-with-status .big-number-label:link,.big-number-with-status .big-number-label:visited {
  color: #1d70b8
}

.big-number-with-status .big-number-link {
  text-decoration: none;
  background: #1d70b8;
  display: block;
  border: 2px solid #1d70b8;
  margin-bottom: 5px
}

.big-number-with-status .big-number-link:hover .big-number-label {
  text-decoration-thickness: max(3px,.1875rem,.12em);
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  -webkit-text-decoration-skip: none;
  text-decoration-skip: none
}

.big-number-with-status .big-number-link:active,.big-number-with-status .big-number-link:focus {
  background: #fd0;
  border: none;
  padding: 2px;
  box-shadow: inset 0 -4px #0b0c0c
}

.big-number-with-status .big-number-link:active .big-number-label,.big-number-with-status .big-number-link:active .big-number-number,.big-number-with-status .big-number-link:active .big-number-smaller,.big-number-with-status .big-number-link:focus .big-number-label,.big-number-with-status .big-number-link:focus .big-number-number,.big-number-with-status .big-number-link:focus .big-number-smaller {
  color: #0b0c0c;
  text-decoration: none
}

.big-number-with-status .big-number-link .big-number,.big-number-with-status .big-number-link .big-number-smaller {
  background: 0 0
}

.big-number-with-status .big-number-link .big-number-label {
  text-decoration: underline;
  text-decoration-thickness: max(1px,.0625rem);
  text-underline-offset: .1em
}

.big-number-with-status .big-number-status,.big-number-with-status .big-number-status-failing {
  font-family: "GDS Transport",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  display: block;
  background: #00703c;
  color: #fff;
  padding: 15px
}

@media print {
  .big-number-with-status .big-number-status,.big-number-with-status .big-number-status-failing {
      font-family: sans-serif
  }
}

@media (min-width: 40.0625em) {
  .big-number-with-status .big-number-status,.big-number-with-status .big-number-status-failing {
      font-size:19px;
      font-size: 1.1875rem;
      line-height: 1.3157894737
  }
}

@media print {
  .big-number-with-status .big-number-status,.big-number-with-status .big-number-status-failing {
      font-size: 14pt;
      line-height: 1.15
  }
}

.big-number-with-status .big-number-status--with-link {
  padding: 0
}

.big-number-with-status .big-number-status--with-link>.govuk-link {
  display: block;
  padding: 15px
}

.big-number-with-status .big-number-status--with-link>.govuk-link:active,.big-number-with-status .big-number-status--with-link>.govuk-link:focus {
  box-shadow: inset 0 -4px #0b0c0c
}

.big-number-with-status .big-number-status--with-link>.govuk-link:active {
  text-decoration: none;
  background-color: #fd0;
  color: #0b0c0c
}

.big-number-with-status .big-number-status-failing {
  background: #d4351c
}


.hero .button--start_white:link,.hero .button--start_white:visited {
  background-color: #fff;
  color: #1d70b8;
  background-size: 20px;
  background-position: 96% 50%;
  box-shadow: 0 2px 0 #004172
}

.hero .button--start_white:hover {
  color: #5694ca
}

.vision{
  background-color: #505a5f	;
  width: 100%;
  padding: 10px 0;
}

.vision  p{
  color: #fff;
  font-weight: bold;
}