{% extends "layout-signin.html" %}
{% block pageTitle %}
  Sign up - {{serviceName}}
{% endblock %}
{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/sign-up/join-a-team"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h1 class="govuk-heading-xl">Create a team</h1>
      <p class="govuk-body">You can start a new team and try out Digital Service Platforms. Decide if you want to pay to publish your work later.</p>
      <form action="/application/sign-up" method="post">
        {{ govukInput({
          label: {
            text: "Team name"
          },
          id: "event-name",
          name: "event-name"
        }) }}
        <div class="govuk-form-group">
          <label class="govuk-label" for="email">
            Invite your team members to work with you, enter their email addresses:
          </label>
          <input class="govuk-input govuk-!-margin-bottom-4" id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email">
          <input class="govuk-input govuk-!-margin-bottom-4" id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email">
          <input class="govuk-input govuk-!-margin-bottom-4" id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email">
          <input class="govuk-input" id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email">
        </div>
        <p class="govuk-body govuk-!-margin-bottom-6"><a href="#" class="govuk-link govuk-link--no-visited-state">Invite more people</a></p>
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Create a new team"
          }) }}
          <a class="govuk-link" href="#">Cancel</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
