{% extends "layout-signin.html" %}
{% block pageTitle %}
  Request sent - {{serviceName}}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h1 class="govuk-heading-xl">Request sent</h1>
      <p class="govuk-body">We sent a message to the Apply to renew a water abstraction licence team to ask for you to join them.</p>
      <p class="govuk-body">We'll let you know when they respond.</p>
      <form action="/application/sign-up" method="post">  
      <p class="govuk-body">
        {{ govukButton({
          text: "Join another team",
          href: "/sign-up/join-a-team",
          classes: "govuk-button--secondary"
        }) }}
      </p>
      <p class="govuk-body">
        {{ govukButton({
          text: "Go to overview",
          href: "/application/overview"
        }) }}
        </p>
      </form>
    </div>
  </div>

{% endblock %}
