{% extends "layout.html" %}
{% block pageTitle %}
  Service Performance
  - GOV.UK Case Management
{% endblock %}
{% block beforeContent %}
  {% set serviceArea = "Insights" %}
  {% include "includes/service-breadcrumb.html" %}
  {% include "includes/second-nav.html" %}
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">Fishing Permit Application Form</span>
    <h1 class="govuk-heading-xl">Insights</h1>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
        {% include "includes/insights-sidebar.html" %}
  </div>
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Page 1</span>
    <h2 class="govuk-heading-l">Feedback</h2>
    <p class="govuk-body">
      <a class="govuk-link" href="#">Export all data</a>
    </p>
    <h2 class="govuk-heading-m">28 Feb 2023</h2>
    {{govukTag({
        text: "User",
        classes: "govuk-tag--blue"
    })}}
    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Trying to sign in</h3>
    <p class="govuk-body govuk-!-margin-bottom-2">Wont let me sign in</p>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
    <p class="govuk-body govuk-body-s">Page: <a class="govuk-link" href="#">Sign in</a>
    </div>
    <div class="govuk-grid-column-one-half">
          <p style="text-align:right" class="govuk-body govuk-body-s"><a  class="govuk-link" href="#">View analytics for this page</a>
      </div>
    </div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    {{govukTag({
        text: "User",
        classes: "govuk-tag--blue"
    })}}
    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Trying to log in</h3>
    <p class="govuk-body govuk-!-margin-bottom-2">Server and page cannot be found	</p>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
    <p class="govuk-body govuk-body-s">Page: <a class="govuk-link" href="#">Sign in</a>
    </div>
    <div class="govuk-grid-column-one-half">
          <p style="text-align:right" class="govuk-body govuk-body-s"><a  class="govuk-link" href="#">View analytics for this page</a>
      </div>
    </div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    {{govukTag({
        text: "User",
        classes: "govuk-tag--blue"
    })}}
    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Errors in the Fishing Permit Application Form.</h3>
    <p class="govuk-body govuk-!-margin-bottom-2">The code does not come through on my phone so can not sign in.</p>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
    <p class="govuk-body govuk-body-s">Page: <a class="govuk-link" href="#">Sign in</a>
    </div>
    <div class="govuk-grid-column-one-half">
          <p style="text-align:right" class="govuk-body govuk-body-s"><a  class="govuk-link" href="#">View analytics for this page</a>
      </div>
    </div>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m">16 Feb 2023</h2>
    {{govukTag({
        text: "Staff",
        classes: "govuk-tag--purple"
    })}}
    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">No longer need to capture the title of the person.</h3>
    <p class="govuk-body govuk-!-margin-bottom-2">We've been told we no longer need to capture the title of the person when they make application to apply for a fishing licence.</p>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
    <p class="govuk-body govuk-body-s">Page: <a class="govuk-link" href="#">Name</a>
    </div>
    <div class="govuk-grid-column-one-half">
          <p style="text-align:right" class="govuk-body govuk-body-s"><a  class="govuk-link" href="#">View analytics for this page</a>
      </div>
    </div>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m">28 Dec 2023</h2>
    {{govukTag({
        text: "User",
        classes: "govuk-tag--blue"
    })}}
    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Errors in the Fishing Permit Application Form.</h3>
    <p class="govuk-body govuk-!-margin-bottom-2">The code does not come through on my phone so can not sign in.</p>
        <div class="govuk-grid-row govuk-!-margin-bottom-8">
          <div class="govuk-grid-column-one-half">
    <p class="govuk-body govuk-body-s">Page: <a class="govuk-link" href="#">Sign in</a>
    </div>
    <div class="govuk-grid-column-one-half">
          <p style="text-align:right" class="govuk-body govuk-body-s"><a  class="govuk-link" href="#">View analytics for this page</a>
      </div>
    </div>
{{ govukPagination({
  previous: {
    href: "#"
  },
  next: {
    href: "#"
  },
  items: [
    {
      number: 1,
           current: true,
      href: "#"
    },
    {
      number: 2,
      href: "#"
    },
    {
      number: 3,
      href: "#"
    }
  ]
}) }}
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

  </div>
</div>
  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-two-thirds">


    </div>
  </div>
{% endblock %}
