{% extends "layout-marketing.html" %}
{% block pageTitle %}
  Service Toolkit - GOV.UK
{% endblock %}
{% block header %}
  {% include "includes/header-marketing.html" %}
  <div class="app-hero govuk-!-padding-top-8 govuk-!-padding-bottom-6 govuk-!-margin-bottom-4">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl govuk-!-margin-top-0 govuk-!-margin-bottom-6">Send emails, text messages and letters to your users</h1>
          <p class="govuk-body-l">Try GOV.UK Notify now if you work in central government, a local authority, or the NHS.</p>
        </div>
      </div>
  </div>
</div>
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-l">GOV.UK services</h2>
      <p class="govuk-body-l">Technologies you can use when building and running government services</p>
      <div>
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a href="https://www.notifications.service.gov.uk/" class="govuk-link">GOV.UK Notify</a></h3>
        <p class="govuk-body">
          Keep your users updated with emails, text messages and letters, cheaply and easily
        </p>
      </div>
      <div>
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a href="https://www.sign-in.service.gov.uk/" class="govuk-link">GOV.UK Sign in (beta)</a></h3>
        <p class="govuk-body">
          Let users sign in to your service quickly, easily and securely. Register for the private beta.
        </p>
      </div>
      <div>
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a href="https://www.payments.service.gov.uk/?_ga=2.124136015.49889235.1658311063-1436852551.1650554828" class="govuk-link">GOV.UK Pay</a></h3>
        <p class="govuk-body">
          Take and process payments - a simple experience for users and easy integration for you
        </p>
      </div>
      <div>
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a href="https://www.forms.service.gov.uk/" class="govuk-link">GOV.UK Forms (private beta)</a></h3>
        <p class="govuk-body">
          Create accessible online forms for GOV.UK with no need for technical or design skills.
        </p>
      </div>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


        <h2 class="govuk-heading-l">Technology and digital standards</h2>
        <p class="govuk-body-l">Standards for creating and running government services</p>
        <div>
          <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a href="https://www.gov.uk/service-manual/service-standard" class="govuk-link">Service standard</a></h3>
          <p class="govuk-body">
            The 14-point standard that government services must meet
          </p>
        </div>
        <div>
          <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a href="https://www.gov.uk/guidance/gds-api-technical-and-data-standards" class="govuk-link">API technical and data standards</a></h3>
          <p class="govuk-body">
            Guidance for using APIs to build the best possible digital services
          </p>
        </div>
        <div>
          <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a href="https://www.gov.uk/government/publications/technology-code-of-practice/technology-code-of-practice" class="govuk-link">Technology Code of Practice</a></h3>
          <p class="govuk-body">
            The standard you must meet to get approval to spend money on technology or a service
          </p>
        </div>
        <div>
          <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a href="https://www.gov.uk/service-manual" class="govuk-link">Service Manual</a></h3>
          <p class="govuk-body">
            Guidance on how to research, design and build services that meet the Service Standard
          </p>
        </div>
        <div>
          <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a href="https://www.gov.uk/search/advanced?group=guidance_and_regulation&topic=%2Fgovernment%2Ftechnology-guidance-technology-guidance-open-standards" class="govuk-link">Open Standards</a></h3>
          <p class="govuk-body">
            Open Standards mandated by government
          </p>
        </div>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h2 class="govuk-heading-l">Guidance on specific technology and digital topics</h2>
        <p class="govuk-body-l">Guidance for creating and running government services</p>
        <div>
          <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a href="https://www.gov.uk/service-manual/helping-people-to-use-your-service" class="govuk-link">Accessibility and assisted digital</a></h3>
          <p class="govuk-body">
            Guidance to help you make sure your service is accessible
          </p>
        </div>
        <div>
          <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a href="https://www.gov.uk/government/publications/exiting-major-it-contracts" class="govuk-link">Exiting major IT contracts</a></h3>
          <p class="govuk-body">
            Guidance and case studies to help you exit large IT contracts
          </p>
        </div>
        <div>
          <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a href="https://www.gov.uk/government/publications/technology-code-of-practice/technology-code-of-practice-related-guidance#security" class="govuk-link">Security</a></h3>
          <p class="govuk-body">
            GOV.UK and NCSC guidance to help you secure digital services and technology
          </p>
        </div>
        <div>
          <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a href="https://www.gov.uk/government/publications/technology-code-of-practice/technology-code-of-practice-related-guidance" class="govuk-link">Looking for more technology topics</a></h3>
          <p class="govuk-body">
            A full alphabetised list of technology and digital topics from government websites and independent bodies to help you design, buy and build services
          </p>
        </div>
        <div>
          <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a href="https://www.gov.uk/service-manual/agile-delivery" class="govuk-link">Agile delivery</a></h3>
          <p class="govuk-body">
            Guidance to help you work in an agile way
          </p>
        </div>
        <div>
          <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a href="https://www.gov.uk/government/collections/cabinet-office-controls" class="govuk-link">Spend controls</a></h3>
          <p class="govuk-body">
            Guidance on when and how to follow the digital and technology spend controls
          </p>
        </div>
        <div>
          <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a href="https://www.gov.uk/search/advanced?group=guidance_and_regulation&topic=%2Fgovernment%2Ftechnology-guidance-technology-guidance-open-source" class="govuk-link">Working in the opens</a></h3>
          <p class="govuk-body">
            Guidance to help you work in the open
          </p>
        </div>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h2 class="govuk-heading-l">Design and style guidance</h2>
        <p class="govuk-body-l">Interaction and content design resources</p>
        <div>
          <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a href="https://www.gov.uk/design-principles" class="govuk-link">Design Principles</a></h3>
          <p class="govuk-body">
            10 principles to guide you as you design your service
          </p>
        </div>
        <div>
          <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a href="https://govuk-prototype-kit.herokuapp.com/docs" class="govuk-link">GOV.UK Prototype Kit</a></h3>
          <p class="govuk-body">
            Code and templates for building realistic prototypes
          </p>
        </div>
        <div>
          <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a href="https://design-system.service.gov.uk/?_ga=2.183036643.49889235.1658311063-1436852551.1650554828" class="govuk-link">GOV.UK Design System</a></h3>
          <p class="govuk-body">
            Make your service consistent with GOV.UK by using components, styles and patterns
          </p>
        </div>
        <div>
          <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a href="https://www.gov.uk/guidance/style-guide" class="govuk-link">Style guide</a></h3>
          <p class="govuk-body">
            Style, spelling and grammar conventions for digital content
          </p>
        </div>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">



        <h2 class="govuk-heading-l">Buying technology</h2>
        <p class="govuk-body-l">Skills and technology for building digital services</p>
        <div>
          <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a href="https://www.gov.uk/digital-marketplace" class="govuk-link">Digital Marketplace</a></h3>
          <p class="govuk-body">
            Source cloud technology and specialist services for digital projects
          </p>
        </div>
    </div>
  </div>

{% endblock %}
