{% extends "layout-marketing.html" %}
{% block pageTitle %}
  GOV.UK Platforms
{% endblock %}

{% block main %}
  {% block content %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">Digital Service Platforms plans</h1>
                <h2 class="govuk-heading-l">Service level</h2>
                <p class="govuk-body">Service level let's you manage the costs per service you create with Digital Service Platforms.</p>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-third">
                        <h3 class="govuk-heading-m">Basic</h3>
                        <p class="govuk-body govuk-!-font-weight-bold">Free</p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>Unlimited emails </li>
                            <li>20,000 texts</li>
                            <li>Up to 10,000 form transactions per year</li>
                            <li>Pay (except transaction fee)</li>
                        </ul>
                    </div>
                    <div class="govuk-grid-column-one-third">
                        <h3 class="govuk-heading-m">Standard</h3>
                        <p class="govuk-body govuk-!-font-weight-bold">£4,500 per quarter</p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>Additional 30,000 texts per year</li>
                            <li>1,500 letters per year</li>
                            <li>External CRM integration</li>
                        </ul>
                    </div>
                    <div class="govuk-grid-column-one-third">
                        <h3 class="govuk-heading-m">Premium</h3>
                        <p class="govuk-body govuk-!-font-weight-bold">£10,500 per quarter</p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>Unlimited notifications (including letters) </li>
                            <li>Unlimited form transactions</li>
                            <li>Integration with external CRM and Pay providers</li>
                        </ul>
                    </div>
                </div>
                <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
                <h2 class="govuk-heading-l">Department level</h2>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-third">
                        <h3 class="govuk-heading-m">Basic</h3>
                        <p class="govuk-body govuk-!-font-weight-bold">Free</p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>Unlimited 'Free' services</li>
                        </ul>
                    </div>
                    <div class="govuk-grid-column-one-third">
                        <h3 class="govuk-heading-m">Standard</h3>
                        <p class="govuk-body govuk-!-font-weight-bold">£37,000 per quarter</p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>Unlimited 'Free' services</li>
                            <li>5 larger services</li>
                        </ul>
                    </div>                
                    <div class="govuk-grid-column-one-third">
                        <h3 class="govuk-heading-m">Premium</h3>
                        <p class="govuk-body govuk-!-font-weight-bold">£62,000 per quarter</p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>Unlimited services of any size</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
    </div>
  {% endblock %}
{% endblock %}

