{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Forms
{% endblock %}
{% block beforeContent %}
  {% set serviceArea = "Forms" %}
  {% include "includes/service-breadcrumb.html" %}
  {% include "includes/second-nav.html" %}
{% endblock %}
{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Forms</h1>
{{ govukTable({
  firstCellIsHeader: true,
  head: [
    {
      text: "Form name"
    },
    {
      text: "Status"
    }
  ],
  rows: [
    [
      {
        html: "<a class='govuk-link' href='holding-page'>[External] Apply for your fishing permit application form</a>"
      },
      {
        html: "<strong class='govuk-tag govuk-tag--green'>Published</strong>"
      }
    ],
    [
      {
        html: "<a class='govuk-link' href='holding-page'>[Internal] For office use only</a>"
      },
      {
        html: "<strong class='govuk-tag govuk-tag--green'>Published</strong>"
      }
    ]
  ]
}) }}
        {{ govukButton({
        text: "Create a new form",
        href: "form-create-a-form.html"
        }) }}
      </div>
    </div>

{% endblock %}
