{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Forms
{% endblock %}
{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "overview"
      },
      {
        text: "Fishing Permit Application Form",
        href: "all"
      },
      {
        text: "Transactions",
        href: "#"
      }
    ]
  }) }}
  {% include "includes/second-nav.html" %}
{% endblock %}
{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Forms</h1>
{{ govukTable({
  firstCellIsHeader: true,
  head: [
    {
      text: "Form name"
    },
    {
      text: "Status"
    }
  ],
  rows: [
    [
      {
        text: "[External] Apply for your fishing permit application form"
      },
      {
        text: "£109.80 per week"
      }
    ],
    [
      {
        text: "[Internal] For office use only"
      },
      {
        text: "£109.80 per week"
      }
    ]
  ]
}) }}
        {{ govukButton({
        text: "Create a form",
        href: "form-create-a-form.html"
        }) }}
      </div>
    </div>

{% endblock %}
