{% extends "layout.html" %}
{% block pageTitle %}
  What kind of addresses do you expect to receive? - {{serviceName}}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
{{ govukCheckboxes({
  name: "waste",
  fieldset: {
    legend: {
      text: "What kind of addresses do you expect to receive?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "Select all that apply."
  },
  items: [
    {
      value: "uk-adddresses",
      text: "UK addresses"
    },
    {
      value: "international-addresses",
      text: "International addresses"
    }
  ]
}) }}
  {{ govukButton({
    text: "Continue",
    href: "address-question.html"
  }) }}
    </div>
    <div class="govuk-grid-column-one-third">
              <h3 class="govuk-heading-s govuk-blue-line">Help and support</h3>
        <p class="govuk-body govuk-body-s">You can get support by:</p>
<ul class="govuk-list govuk-body-s govuk-list--spaced">
  <li><a href="#">Reading online documentation</a></li>
  <li><a href="#">Slack</a></li>
  <li><a href="#">Send an email to support</a></li>
  <li><a href="#">Online forum</a></li>
</ul>
    </div>
  </div>
{% endblock %}