{% extends "layout.html" %}
{% block pageTitle %}
  New email template - {{serviceName}}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">New email template for the confirmation email</h2>
{{ govukInput({
  label: {
    text: "Template name"
  },
  id: "event-name",
    hint: {
    text: "Your recipients will not see this"
  },
  name: "event-name"
}) }}
{{ govukInput({
  label: {
    text: "Subject"
  },
  id: "event-name",
  name: "event-name"
}) }}
{{ govukTextarea({
  name: "more-detail",
  id: "more-detail",
  label: {
    text: "Message"
  }
}) }}
<div class="govuk-button-group">
  {{ govukButton({
    text: "Save and continue",
    href: "list.html"
  }) }}
</div>
    </div>
    <div class="govuk-grid-column-one-third">
              <h3 class="govuk-heading-s govuk-blue-line">Help and support</h3>
        <p class="govuk-body govuk-body-s">You can get support by:</p>
<ul class="govuk-list govuk-body-s govuk-list--spaced">
  <li><a href="#">Online documentation</a></li>
  <li><a href="#">Slack</a></li>
  <li><a href="#">Send an email to support</a></li>
  <li><a href="#">Online forum</a></li>
</ul>
    </div>
  </div>
{% endblock %}