{% extends "layout.html" %}
{% block pageTitle %}
  What kind of addresses do you expect to receive? - {{serviceName}}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Application for trading certificate for a public company</span>
<h1 class="govuk-heading-l">Email address confirmed</h1>
<p class="govuk-body">Completed forms will be sent to michael.gearon@digital.cabinet-office.gov.uk.</p>
<p class="govuk-body"><a href="list" class="govuk-link">Continue creating a form</a></p>

    </div>
    <div class="govuk-grid-column-one-third">
              <h3 class="govuk-heading-s govuk-blue-line">Help and support</h3>
        <p class="govuk-body govuk-body-s">You can get support by:</p>
<ul class="govuk-list govuk-body-s govuk-list--spaced">
  <li><a href="#">Online documentation</a></li>
  <li><a href="#">Slack</a></li>
  <li><a href="#">Send an email to support</a></li>
  <li><a href="#">Online forum</a></li>
</ul>
    </div>
  </div>
{% endblock %}