{% extends "layout.html" %}
{% block pageTitle %}
  My Profile - GOV.UK Case Management
{% endblock %}
{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "#"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ govukCheckboxes({
        name: "waste",
        fieldset: {
          legend: {
            text: "What tools does the service need?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "Select all that apply."
        },
        items: [
          {
            value: "carcasses",
            text: "Payments",
            hint: {
              text: "Take online payments from your users"
            }
          },
          {
            value: "mines",
            text: "Notifications",
            hint: {
              text: "Send emails, text messages and letters to your users"
            }
          },
          {
            value: "farm",
            text: "Form",
            hint: {
              text: "Create an accessible online form in minutes without needing technical knowledge"
            }
          },
          {
            value: "farm",
            text: "Case management",
            hint: {
              text: "Manage cases through a workflow system"
            }
          },
          {
            value: "farm",
            text: "Sign in",
            hint: {
              text: "Let users sign in to your service"
            }
          }
        ]
      }) }}
      {{ govukButton({
        text: "Save and continue",
        href: "name-of-the-service.html"
      }) }}
    </div>
  </div>
{% endblock %}
