{% extends "layout.html" %}
{% block pageTitle %}
  My Profile - {{serviceName}}
{% endblock %}
{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "type.html"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Your profile</h1>

    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Email"
            },
            value: {
              html: data.email
            }
          },
          {
            key: {
              text: "Mobile number"
            },
            value: {
              text: "	+447557050000"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "date of birth"
                }
              ]
          }
      },
      {
        key: {
          text: "Sign-in method"
        },
        value: {
          html: "Text message"
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "address"
            }
          ]
        }
      }
    ]
  }) }}
      </div>

      <div class="govuk-grid-column-one-third">
        <p class="border-top govuk-body-s govuk-!-padding-top-2">To change your permission level on a service you need to contact an administrator for that service.</p>
      </div>
    </div>
{% endblock %}
