{% extends "layout.html" %}
{% block pageTitle %}
  Organisation Settings - {{serviceName}}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Organisation settings</h1>
        <h2 class="govuk-heading-m">Special school application to convert to academy status service</h2>
        <ul class="govuk-list">
          <li>
            <a href="#" class="govuk-link">People</a>
          </li>
          <li>
            <a href="#" class="govuk-link">Organisation permissions</a>
          </li>
          <li>
            <a href="workflow-builder" class="govuk-link">Workflow builder</a>
          </li>
        </ul>
        <h2 class="govuk-heading-m">Other services</h2>
        <ul class="govuk-list">
            <li>
              <a href="#" class="govuk-link">Registration of free schools</a>
            </li>
            <li>
              <a href="#" class="govuk-link">Academy conversion: support grant forms</a>
            </li>
            <li>
              <a href="#" class="govuk-link">Register an independent school: application form</a>
            </li>
        </ul>
      </div>
    </div>
{% endblock %}
