{% extends "layout.html" %}
{% block pageTitle %}
  Service Performance
  - GOV.UK Case Management
{% endblock %}
{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "overview"
    },
    {
      text: "Fishing Permit Application Form",
      href: "all"
    },
    {
      text: "Transactions",
      href: "#"
    }
  ]
}) }}
<nav class="second-nav">
<ul class="govuk-!-padding-bottom-4 govuk-!-padding-top-4">
    <li>
      <a href="/application/all" class="govuk-link">Cases</a>
      </li>
    <li>
      <a href="/application/forms/form-designer/form-home" class="govuk-link">Form</a>
      </li>
      <li>
        <a href="/application/payments" class="govuk-link">Transactions</a>
        </li>
        <li>
          <a href="/application/notifications/notify" class="govuk-link">Notifications</a>
          </li>
          <li>
            <a href="/application/published-content" class="govuk-link">Pages</a>
            </li>
          <li>
            <a href="/application/report" class="govuk-link">Insights</a>
            </li>


        <li>
          <a href="/application/settings" class="govuk-link">Settings</a>
          </li>
  </ul>
  </nav>
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">Insights</h1>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <ul class="govuk-list govuk-list--spaced">
      <li>
        <a class="govuk-link" href="report.html">Overall</a>
      </li>
      <li>
        <a class="govuk-link" href="feedback.html">Feedback</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Notifications</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Payments</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Case Management</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Forms</a>
      </li>
    </ul>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      <a class="govuk-link" href="#">Export all data</a>
    </p>
    <h2 class="govuk-heading-m">Since 10 January 2021</h2>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-l govuk-!-margin-bottom-0">696</h3>
        <p class="govuk-body">
          cases
        </p>
      </div>
      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-l govuk-!-margin-bottom-0">550</h3>
        <p class="govuk-body">
          closed cases
        </p>
      </div>
      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-l govuk-!-margin-bottom-0">20</h3>
        <p class="govuk-body">
          delayed cases
        </p>
      </div>
    </div>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <h2 class="govuk-heading-m">Last 7 days</h2>
    <p class="govuk-body">
        Average time to close a case is 14 days
    </p>
    {{ govukTable({
      caption: "Cases closed",
  captionClasses: "govuk-table__caption--s",
  firstCellIsHeader: true,
  head: [
    {
      text: "Day"
    },
    {
      text: "Closed cases"
    }
  ],
  rows: [
    [
      {
        text: "26 May 2022"
      },
      {
        text: "3 cases"
      }
    ],
    [
      {
        text: "25 May 2022"
      },
      {
        text: "3 cases"
      }
    ],
    [
      {
        text: "22 May 2022"
      },
      {
        text: "3 cases"
      }
    ],
    [
      {
        text: "21 May 2022"
      },
      {
        text: "2 cases"
      }
    ],
    [
      {
        text: "20 May 2022"
      },
      {
        text: "1 case"
      }
    ],
    [
      {
        text: "19 May 2022"
      },
      {
        text: "1 case"
      }
    ],
    [
      {
        text: "18 May 2022"
      },
      {
        text: "0 cases"
      }
    ]
  ]
  }) }}
  {{ govukTable({
  caption: "Staff assigned to cases",
  captionClasses: "govuk-table__caption--s",
  firstCellIsHeader: true,
  head: [
  {
  text: "Name"
  },
  {
  text: "Cases assigned"
  }
  ],
  rows: [
  [
  {
    text: "Denis Vishnu"
  },
  {
    text: "8 cases"
  }
  ],
  [
  {
    text: "Orla Tegan"
  },
  {
    text: "6 cases"
  }
  ],
  [
  {
    text: "Sasha Willifrid"
  },
  {
    text: "5 cases"
  }
  ],
  [
  {
    text: "Sarah Phillps"
  },
  {
    text: "8 cases"
  }
  ]
  ]
  }) }}
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  <h2 class="govuk-heading-m">Last 30 days</h2>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  <h2 class="govuk-heading-m">Last 90 days</h2>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

  </div>
</div>
  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-two-thirds">


    </div>
  </div>
{% endblock %}
