{% extends "layout-signin.html" %}
{% block pageTitle %}
  Forgot your password - {{serviceName}}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Forgot your password?</h1>
      <p class="govuk-body">
        We’ll then send you an email which you can use to set up a new password.
        <form action="/application/reset-password" method="post">
      {{ govukInput({
        label: {
          text: "Email address"
        },
        id: "email",
        name: "email"
      }) }}
      {{ govukButton({
        text: "Send email",
        href: "/holding-page"
      }) }}
      </form>
    </div>
  </div>

{% endblock %}
