{% extends "layout.html" %}
{% block pageTitle %}
  Settings for Fishing Permit Application Form
  - {{serviceName}}
{% endblock %}
{% block beforeContent %}
  {% set serviceArea = "Settings" %}
  {% include "includes/service-breadcrumb.html" %}
  {% include "includes/second-nav.html" %}
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">Fishing Permit Application Form</span>
    <h1 class="govuk-heading-xl">Settings</h1>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
  {% include "includes/settings-sidebar.html" %}
  </div>
  <div class="govuk-grid-column-two-thirds">

            <h2 class="govuk-heading-l">About the group</h2>
            {{ govukTextarea({
  name: "more-detail",
  id: "more-detail",
  value: "Application form to purchase a River Thames lock and weir fishing permit.",
  label: {
    text: "What is this group used for?"
  },
  hint: {
    text: "Include enough information to make it clear what this group is used for."
  }
}) }}
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h2 class="govuk-heading-l">Connected platforms</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-link" href="#">Case manager</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Forms</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Payments</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Notifications</a>
        </li>
              </ul>
        <h3 class="govuk-heading-m">Third-party platforms</h3>
        <p class="govuk-body govuk-!-font-weight-bold">This service does not connect to any third-party platforms</p>

      {{ govukButton({
  text: "Add new connection"
}) }}
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


    <h2 class="govuk-heading-l govuk-!-margin-top-8">Share outside your organisation</h2>
    <p class="govuk-body">
      Rather than using email to communicate, you can share this service with people from other organisations. When you work with other organisations in Digital Service Platform, people can only access the groups that they’ve been invited to join.
    </p>
    {{ govukCheckboxes({
  idPrefix: "waste",
  name: "waste",
  fieldset: {
    legend: {
      text: "Share outside of the Department for Environment Food & Rural Affairs?",
      classes: "govuk-!-font-weight-bold"
    }
  },
  hint: {
    text: "This will need approval from an administrator."
  },
  items: [
    {
      value: "yes",
      text: "Yes, share outside of the organisation"
    }
  ]
}) }}
{{ govukButton({
  text: "Update"
}) }}
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-l govuk-!-margin-top-8">Set visibility to the organisation</h2>
    <p class="govuk-body">
      You can make a group public or private, by default all groups are set to public. Administrators will be able to see both public and private groups.
    </p>
    {{ govukRadios({
  idPrefix: "where-do-you-live",
  name: "where-do-you-live",
  fieldset: {
    legend: {
      text: "Set visibility"
    }
  },
  items: [
    {
      value: "public",
      text: "Public",
      checked: true,
      hint: {
        text: "When a group is set to public, it can only be viewed. A person will still need permissions to join and make changes to the group."
      }
    },
    {
      value: "private",
      text: "Private",
      hint: {
        text: "When a group is set to private, it can only be viewed or joined by invitation."
      }
    }
  ]
}) }}
{{ govukButton({
  text: "Update"
}) }}
    </div>
  </div>
{% endblock %}
