{% extends "layout-marketing.html" %}
{% block pageTitle %}
  GOV.UK Platforms
{% endblock %}

{% block main %}
  {% block content %}
  <div class="govuk-width-container">

    <main class="govuk-main-wrapper" id="main-content" role="main">
        <div class="govuk-grid-row">
      <div class="govuk-grid-column-full-column">
        <h1 class="govuk-heading-xl">One Login</h1>
        <p class="govuk-body">Imagine a day when chat was combined with a future OneLogin to understand who you are and what you need to do. In this example the bot knows you have an expired licence and prompts the user to reapply.
For civil servants, having a chatbot to provide guidance and surface valuable resources could be utilised. Another use case for this could be to help find customers data within the system.</p>
        <img width="100%" class="govuk-!-padding-bottom-8" src="/public/images/chat-1.png" alt="A graph showing the number of services and organisations using GOV.UK Notify growing each year, from 2016 onwards, with the number of services growing especially quickly in early 2020. Exact numbers are available in a table in the body of the blog post.">
        <img width="100%" class="govuk-!-padding-bottom-6" src="/public/images/chat-2.png" alt="A graph showing the number of services and organisations using GOV.UK Notify growing each year, from 2016 onwards, with the number of services growing especially quickly in early 2020. Exact numbers are available in a table in the body of the blog post.">
        <img width="100%" class="govuk-!-padding-bottom-6" src="/public/images/chat-3.png" alt="A graph showing the number of services and organisations using GOV.UK Notify growing each year, from 2016 onwards, with the number of services growing especially quickly in early 2020. Exact numbers are available in a table in the body of the blog post.">

      </div>
      </div>
    </main>
    </div>
  {% endblock %}
{% endblock %}

