{% extends "layout.html" %}
{% block pageTitle %}
  Delete word - Restricted words - Companies House Internal Service
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "all"
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h1 class="govuk-heading-xl">Delete word</h1>
      <p class="govuk-body-l">You are about to delete
        {{word}}</p>
      <div class="govuk-button-group">
        {{ govukButton({
          text: "Delete word"
        }) }}
        <a class="govuk-link" href="all">Cancel</a>
      </div>
    </div>
  </div>
{% endblock %}