{% extends "layout-marketing.html" %}
{% block pageTitle %}
  GOV.UK Platforms
{% endblock %}

{% block main %}
  <div class="masthead">
    <div class="hero hero--breaded">
      {% include "includes/front-door/breadcrumb.html" %}
      {% include "includes/front-door/hero.html" %}
    </div>
  </div>
  {% block content %}
    <main class="govuk-main-wrapper" id="main-content" role="main">
      <div class="govuk-width-container">
        {% include "includes/front-door/products.html" %}
                {% include "includes/front-door/why-use-our-platforms.html" %}
        {% include "includes/front-door/service-standards-and-guidance.html" %}
        {% include "includes/front-door/used-by.html" %}
        {% include "includes/front-door/technical.html" %}
        {% include "includes/front-door/blog.html" %}
      </div>
    </main>
  {% endblock %}
{% endblock %}
