{% extends "layout-marketing.html" %}
{% block pageTitle %}
  GOV.UK Platforms
{% endblock %}

{% block main %}
  {% block content %}
    <main class="govuk-main-wrapper" id="main-content" role="main">
      <div class="govuk-width-container">
                {{govukTag({
          text: "Version 1",
          classes: "govuk-tag--blue"
        })}}
        <span class="govuk-caption-xl">Prototype</span>
        <h1 class="govuk-heading-xl">GOV.UK Digital Service Platforms</h1>

        <h2 class="govuk-heading-l">Shortcuts</h2>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="front-door.html">Front door page</a></li>
          <li><a href="application/overview">Signed in overview</a></li>
          <li><a href="application/all">Dashboard</a></li>
        </ul>
      </div>
    </main>
  {% endblock %}
{% endblock %}

