{% extends "layout-marketing.html" %}
{% block pageTitle %}
  Service Toolkit - GOV.UK
{% endblock %}
{% block header %}
{% include "includes/header-marketing.html" %}
<!--<div class="nav">
  <nav>
    <ul>
      <li>
        <img width="60px" src="/public/images/Notify.png" />
        <a href="#">Notify</a>
      </li>
      <li>
        <img width="60px" src="/public/images/Pay.png" />
        <a href="#">Pay</a>
      </li>
      <li>
        <img width="60px" src="/public/images/Forms.png" />
        <a href="#">Forms</a>
      </li>
      <li>
        <img width="60px" src="/public/images/Sign_In.png" />
        <a href="#">Sign in</a>
      </li>
    </ul>
  </nav>
</div>-->
<div class="app-hero govuk-!-padding-top-9 govuk-!-padding-bottom-8 govuk-!-margin-bottom-4">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-xl govuk-!-margin-top-0 govuk-!-margin-bottom-6">Build a service</h1>
  <p class="govuk-body-l">Reducing the barriers to building, running and improving simple, accessible and secure services.</p>

</div>
      <div class="govuk-grid-column-one-third">
        <img width="100%" src="/public/images/servicebuilder.png" />

      </div>
</div>
  </div>
</div>

{% endblock %}
{% block content %}
<div class="govuk-grid-row">
     <div class="govuk-grid-column-two-thirds">
       <h2 class="govuk-heading-l">GOV.UK tools for everyone</h2>
       <p class="govuk-body-body">
         Large or small we have options to support you deliver digital experiences for your users.
       </p>
       <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
  <li>
    <a class="govuk-link" href="#">Pay</a> can take online payments from your users
  </li>
  <li>
    <a class="govuk-link" href="#">Notify</a> can send emails, text messages and letters to your users
  </li>
  <li>
    <a class="govuk-link" href="#">Forms</a> can create online form in minutes without needing technical knowledge
  </li>
  <li>
    <a class="govuk-link" href="#">Sign</a> in let users sign in to your service
  </li>
</ul>
     </div>
     <div class="govuk-grid-column-one-third">
       <figure>
       <img width="100%" src="/public/images/image2.jpg" />
           <figcaption>Accept payments online with GOV.UK Payment links</figcaption>
     </figure>
     </div>
   </div>
   <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
   <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-l">What we offer</h2>
          <p class="govuk-body">
            Our suite of tools includes Pay, Notify, Forms and Sign in. All of the basics to start managing and running online systems
          </p>
          <p class="govuk-body">
            Over 1,400 organisations use Notify and Pay has 769 live services. Notify has sent over 6.2 billion notifications since 2016 and Pay has processed over 41.9 million transactions, handling 2.7 billion pounds.
          </p>
        </div>
        <div class="govuk-grid-column-one-third">
          <figure>
          <img width="100%" src="/public/images/P1022047.jpg" />
              <figcaption><a href="https://gds.blog.gov.uk/2022/06/16/how-we-are-improving-inclusion-for-digital-identity-in-government/">How we are improving inclusion for digital identity in government</a></figcaption>
        </figure>
        </div>
      </div>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      <div class="govuk-grid-row">
           <div class="govuk-grid-column-full">
             <h2 class="govuk-heading-l">Supporting you</h2>
             <p class="govuk-body">
               All of our services offer 9:30am to 5:30pm office hours support. With response time being up to 2 working days.
             </p>
             <p class="govuk-body">
               For those urgent moments of support we also offer out of office hours support.
             </p>
              <h2 class="govuk-heading-m">Questions you may have</h2>
             {{ govukAccordion({
  id: "accordion-default",
  items: [
    {
      heading: {
        text: "How do I start using these tools?"
      },
      content: {
        html: "<p class='govuk-body'>This is the content for Writing well for the web.</p>"
      }
    },
    {
      heading: {
        text: "Does my organisation use your tools?"
      },
      content: {
        html: "<p class='govuk-body'>This is the content for Writing well for specialists.</p>"
      }
    },
      {
      heading: {
        text: "How are services billed and paid for?"
      },
      content: {
        html: "<p class='govuk-body'>This is the content for Know your audience.</p>"
      }
    },
      {
      heading: {
        text: "Have a specific question?"
      },
      content: {
        html: "<p class='govuk-body'>This is the content for How people read.</p>"
      }
    }
  ]
}) }}
           </div>

         </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">



  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-l">Low cost and no procurement</h2>
    <p class="govuk-body">
      All of our tools are free to use to start with. As you receive more payments with Pay or send more notifications with Notify you will then be charged as you go along.
    </p>
    <p>
      Procurement can be difficult but with all of our services there are no procurement processes.
    </p>
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-l">Our services</h2>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
<iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/_90cv1YgQo4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="govuk-grid-column-one-half">
  <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/DlohjTkvFoY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  <h2 class="govuk-heading-l">Accessibility</h2>
  <p class="govuk-body">
    All of our services are built with accessibility in mind. We thoroughly test our services to make sure everyone can use the service and constantly look for ways to improve.
  </p>
  <p class="govuk-body">
    As all of the services are built within the civil service they all go through the same Service Standard and quality checks any other Government service would go through

  </p>

</div>
<div class="govuk-grid-column-one-third">
  <figure>
  <img width="100%" src="/public/images/accessibility.jpeg" />
      <figcaption><a href="https://gds.blog.gov.uk/2021/12/15/join-the-user-research-panel-for-gds-products-and-services/">Join the user research panel for GDS products and services
</a></figcaption>
</figure>
</div>
</div>
<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
<h2 class="govuk-heading-l">Security and privacy</h2>
<p class="govuk-body">
  Our services are designed and secured with the highest standards.
</p>
<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
<li>
Pay provides a Payment Card Industry (PCI) fully compliant payment handling service
</li>
<li>
Notify data is encrypted and complies with data protection law. It goes further with compliance with National Cyber Security Centre (NCSC) Cloud Security Principles and protective monitoring to record activity and more
</li>
<li>
Using Forms all completed forms are encrypted and sent securely to an email address you specify
</li>
<li>
Sign in uses the OpenID connect (OIDC) authentication protocol and enforcing two-factor authentication when users sign in to your service
</li>
</ul>
</div>
<div class="govuk-grid-column-one-third">
<figure>
<img width="100%" src="/public/images/sign-in-blog.jpeg" />
    <figcaption><a href="https://gds.blog.gov.uk/2021/09/08/how-will-the-new-single-sign-on-and-a-gov-uk-account-work-together/">How will the new single sign-on and a GOV.UK Account work together?
</a></figcaption>
</figure>
</div>
</div>
<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

<iframe width="960" height="600" src="https://www.youtube.com/embed/XnP6jaK7ZAY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
<h2 class="govuk-heading-l">Building bespoke</h2>
<p class="govuk-body">
  Pay, Notify and in the future Sign In all have API's you can use to connect your services to. There are no extra costs to using the API's and all of the services have complete documentation on how to start:
</p>
<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
<li>
<a href="https://www.payments.service.gov.uk/api-integration/" class="govuk-link">GOV.UK Pay API documentation</a>
</li>
<li>
<a href="https://www.notifications.service.gov.uk/documentation" class="govuk-link">GOV.UK Notify API documentation</a>
</li>
</ul>
</div>
<div class="govuk-grid-column-one-third">
<figure>
<img width="100%" src="/public/images/notify-sending-text-messages.jpeg" />
    <figcaption><a href="https://gds.blog.gov.uk/2020/04/03/how-gov-uk-notify-reliably-sends-text-messages-to-users/">How GOV.UK Notify reliably sends text messages to users
</a></figcaption>
</figure>
</div>
</div>
{% endblock %}
