{% extends "layout-marketing.html" %}
{% block pageTitle %}
  GOV.UK Platforms
{% endblock %}

{% block main %}
  {% block content %}
  <div class="govuk-width-container">

    <main class="govuk-main-wrapper" id="main-content" role="main">
        <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
                {{govukTag({
          text: "Version 1",
          classes: "govuk-tag--blue"
        })}}
        <span class="govuk-caption-xl">Prototype</span>
        <h1 class="govuk-heading-xl">GOV.UK Digital Service Platforms</h1>
        <p class="govuk-body-l">We want to deliver a vision that can be socialised throughout government to explain where we will be in 2025. This is a prototype to demo some of those features, if you have any questions message the Build a Service team.</p>
        {{ govukButton({
          text: "Start now",
          href: "front-door.html",
          isStartButton: true
        }) }}
        <h2 class="govuk-heading-l">Shortcuts</h2>
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
          <li><a href="front-door.html">Front door page</a> is how we talk about our products as a suite of tools to let people build services</li>
          <li><a href="application/create/type">Build your service</a> a step-by-step approach to building your service</li>
          <li><a href="application/overview">Signed in overview</a> provides a central place to manage all services and tools for each department</li>
          <li><a href="application/all">Dashboard</a> for managing a service, including case management, payments, notifications, forms and GOV.UK pages</li>
          <li><a href="application/report">Shared insights</a> enables teams to see the end-to-end journey of how a service is performing from landing on GOV.UK right through to the notifications being sent</li>
          <li><a href="application/create/ni-question-error">Machine learning</a> how can we use this technology to improve the quality of service delivery for short and long form texts including guidance, text messages and questions</li>
          <li><a href="application/create/make-your-service-live">Making your service live</a> a formalised way of reviewing a service, giving departments a way to set the process of who reviews a service before going live</li>
        </ul>
      </div>
      </div>
    </main>
    </div>
  {% endblock %}
{% endblock %}

