{% extends "layout.html" %}
{% block pageTitle %}
  Overview - Restricted words - Companies House Internal Service
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Organisation settings</h1>
        <ul class="govuk-list">
          <li>
            Users
          </li>
          <li>
            Organisation permissions
          </li>
        </ul>
        <h2 class="govuk-heading-m">Other services</h2>
      </div>
    </div>
{% endblock %}
