{% extends "layout.html" %}
{% block pageTitle %}
  Choose Service - GOV.UK Case Management
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-l">Department for Environment Food & Rural Affairs</span>
      <h1 class="govuk-heading-l">All services</h1>
      {{ govukButton({
  text: "Create new thing",
  classes: "govuk-!-margin-top-2"
}) }}
      <div class="govuk-grid-row">
        {% include "includes/filters-two.html" %}
        <div class="govuk-grid-column-two-thirds">
          <div class="govuk-form-group govuk-!-margin-bottom-2">
  <label class="govuk-label govuk-label--m" for="event-name">
        Search for service or group
      </label>
    <div class="wrapper">
    <input class="govuk-input" id="event-name" name="event-name" type="text">
    {{ govukButton({
  text: "Search",
  classes: "govuk-button--secondary govuk-!-margin-bottom-8 search"
  }) }}
  </div>
  <span class="govuk-caption-m">Group</span>
  <h3 class="govuk-heading-m">
    <a class="govuk-link govuk-link--no-visited-state" href="all">Bringing your pet to the UK from Ukraine</a>
  </h3>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <span class="govuk-caption-m">Payments</span>
    <h3 class="govuk-heading-m">
      <a class="govuk-link govuk-link--no-visited-state" href="all">Common land and greens: statutory disposition (CA8)</a>
    </h3>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <span class="govuk-caption-m">Payments</span>
      <h3 class="govuk-heading-m">
        <a class="govuk-link govuk-link--no-visited-state" href="all">Apply to protect a wine name or aromatised wine name</a>
      </h3>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <span class="govuk-caption-m">Forms</span>
      <h3 class="govuk-heading-m">
        <a class="govuk-link govuk-link--no-visited-state" href="all">Application to use herbicides in or near water</a>
      </h3>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <span class="govuk-caption-m">Payments</span>
      <h3 class="govuk-heading-m">
        <a class="govuk-link govuk-link--no-visited-state" href="all">Manage your water abstraction or impoundment licence online</a>
      </h3>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <span class="govuk-caption-m">Group</span>
      <h3 class="govuk-heading-m">
        <a class="govuk-link govuk-link--no-visited-state" href="request-access">Apply to renew a water abstraction licence</a>
      </h3>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <span class="govuk-caption-m">Notifications</span>
      <h3 class="govuk-heading-m">
        <a class="govuk-link govuk-link--no-visited-state" href="all">Get an EORI number</a>
      </h3>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


  </div>
      </div>




    </div>
  </div>
{% endblock %}
