{% extends "layout.html" %}
{% block pageTitle %}
  Service Performance
  - GOV.UK Case Management
{% endblock %}
{% block beforeContent %}
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Settings</h1>
<h2 class="govuk-heading-m">API Keys</h2>
<h3 class="govuk-heading-s">Payment API</h3>
<h3 class="govuk-heading-s">Notifications API</h3>
<h3 class="govuk-heading-s">Case worker API</h3>
  <h2 class="govuk-heading-m">Manage users</h2>
    <h2 class="govuk-heading-m">Set visibility to the organisation</h2>
    </div>
  </div>
{% endblock %}
