{% extends "layout-marketing.html" %}
{% block pageTitle %}
  Build a service - GOV.UK
{% endblock %}

{% block header %}
{{ govukHeader({
  homepageUrl: "#"
}) }}
{% endblock %}
{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "#"
    },
    {
      text: "Environment",
      href: "#"
    },
    {
      text: "Rural and countryside",
      href: "#"
    },
    {
      text: "Countryside",
      href: "#"
    },
    {
      text: "Access to our countryside",
      href: "#"
    }
  ]
}) }}
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">River Thames: lock and weir fishing permit application</h1>

            </div>
</div>
<div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

    <p class="govuk-body-l">Apply here to apply for, renew or update your River Thames lock and weir fishing permit and pay for it online.</p>
    <p class="govuk-body">This service is also avaliable in <a class="govuk-link" href="#">Welsh (Cymraeg)</a>.</p>
    {{ govukInsetText({
        text: "This permit is not for use during the closed season from 15 March to 15 June 2023"
    }) }}

    <h2 class="govuk-heading-l">Before you start</h2>
    <p class="govuk-body">Please note that many lock and weir fishing sites are only available for fishing outside of the boating season. Please <a class="govuk-link" href="#">check the maps</a> carefully to find out when the site is available for fishing.</p>
    <p class="govuk-body">The cost of an adult licence is £31 per annum.</p>
    <p class="govuk-body">Concessionary licences are available for senior citizens over 60 years, juniors from 13 years up to and including 16 years and registered Blue Badge holders at a cost of £20.50 per annum.</p>

    <h2 class="govuk-heading-l">How long it takes to apply</h2>
    <p class="govuk-body">It will take about 5 minutes to fill in this form.</p>
    <p class="govuk-body">We aim to process your application as quickly as possible but it can take up to 10 working days especially at busy times</p>
    {{ govukButton({
        text: "Start now",
        href: "https://submit.forms.service.gov.uk/preview-form/86/test-2-0-lock-and-weir-fishing-permit-application-form/169",
        isStartButton: true
    }) }}
    <h3 class="govuk-heading-m govuk-related-content govuk-!-padding-top-3">Related content</h3>
        <ul class="govuk-list govuk-list--spaced">
  <li>
    <a class="govuk-link" href="#">Access to the countryside</a>
  </li>
  <li>
    <a class="govuk-link" href="#">Sports and leisure</a>
  </li>
</ul>
    </div>
    <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-s govuk-related-content govuk-!-padding-top-3">Related content</h3>
        <ul class="govuk-list govuk-list--spaced govuk-list-small">
  <li>
    <a class="govuk-link" href="#">River Thames: lock and weir fishing maps</a>
  </li>
  <li>
    <a class="govuk-link" href="#">Lock and weir fishing on River Thames</a>
  </li>
  <li>
    <a class="govuk-link" href="#">Rod fishing byelaws: Anglia</a>
  </li>
  <li>
    <a class="govuk-link" href="#">Rod fishing byelaws: North East</a>
  </li>
</ul>
        </div>
</div>
{% endblock %}
